.songCard {
	display: inline-block;
	height: 5.3rem;
    width: 90%;
    position: relative;
	border: 5px solid rgb(229, 209, 190);
	border-color: gray;
	border-radius: 1rem;
    align-items: center;
	margin:5px;
	
    /* justify-content: */

}

.songCard>img {
	display: inline-block;
	position: absolute;
	left: 0rem;
    border-radius: 20px;
    width: 3rem;
	height: 3rem;
    margin: 1rem;
    box-shadow: rgb(39, 40, 34) 3px 3px 10px;
}
.titleAndArtist {
	width: 15rem;
	height: 3rem;
	left: 5rem;
	display: inline-block;
	position: absolute;
    margin: 1rem;
    font-size: 90%;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
    color: gray;
}
.titleAndArtist > .title{
	margin-top: 0.3rem;
}
.titleAndArtist > .artist{
	margin-top: 0.3rem;
}
.songCard>button {
	display: inline-block;
	position: absolute;
	left: 21.5rem;
	background-color: rgb(229, 209, 190);
    border-radius: 1.5rem;
    height: 3rem;
    width: 3rem;
    margin: 1rem;
    margin-right: 20px;
}