.songCard {
	display: flex;
	justify-content: space-between;
	height: min-content;
    position: relative;
	border: 5px solid rgb(229, 209, 190);
	border-color: gray;
	border-radius: 1rem;
    align-items: center;
	margin-left: 15px;
	margin-right: 15px;
    /* justify-content: */

}

.songCard>img {
    border-radius: 20px;
    width: 4rem;
	height: 4rem;
	margin: 1rem;
    box-shadow: rgb(39, 40, 34) 3px 3px 10px;
}
.titleAndArtist {
	width: 15rem;
	left: 5rem;
	display: inline-block;
    font-size: 90%;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
    color: gray;
}
.titleAndArtist > .title{
	font-size: 17px;
	color: black;
}
.titleAndArtist > .artist{
	margin-top: 0.3rem;
}
.songCard>button {
	display: inline-block;
	background-color: rgb(229, 209, 190);
    border-radius: 1.5rem;
    height: 3rem;
    width: 3rem;
    margin: 1rem;
}