*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  
                           
}

.root{
  height: 100vh;
  width: 100vw;
  background-color:rgb(255, 255, 255);
}



.App {
  text-align: center;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #214939;
  /*min-height: 120vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.mainContainer{
  align-self: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  
}

.albumArtContainer{
  width: 90%;
  display: flex;
  flex-direction: row;

}

.Button {
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  font-size: medium;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 20px;
  opacity: 90%;
  background: linear-gradient(10deg, rgb(149, 228, 149), #55e7fc);
  box-shadow: 0 4px 10px 0 rgba(49, 196, 190, 0.75);
  height: 2.4rem;
  width: 9rem;
  min-width: 110px;
  margin: 1.5rem;
}

.Button:hover {
  transform: translateY(-3px);
  color: white;
  border: 0;

  background-color: #b9e769;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
}

h1{
  color: rgb(143, 231, 187);
  text-shadow: 2px 2px 5px black;
  text-align: center;
  
}


 .animated{
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
        animation: fadein 0.5s;
 }

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.camera{
  margin: 1vh;
}

.logged-container{
  /* margin-top: 3%; */
  height: 100vh;
  width: 100vw;
}
