.textAnswer{
	height:auto;
}
.question h1 {
	color: white;
}

.question h2 {
	color: white;
}

.question h3 {
	font-size: 180%;
	color: white;
}

.question {
	
	display: flex;
}

.artistAnswer {
	
}

.artistAnswer > .textButton{
	width: 100%;
} 

.textAnswer > .textButton {
	height: 55px;
	width: 180px;
	border-radius: 20px;
	font-weight: 600;
	font-size: 1rem;
	border: 0;
	box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.45);
	cursor: pointer;
	color: white;
	background: black;
	cursor: pointer;
	border: 3px solid #1DB954;
	box-shadow: 0 0 .1rem #fff, 0 0 .1rem #fff, 0 0 .1rem #1DB954, 0 0 0.2rem #1DB954, 0 0 .2rem #1DB954, 0 0 2.3rem #1DB954;
	margin: 20px;
}

	.textAnswer > .textButton:hover {
		filter: brightness(120%);
		transform: scale(1.1);
	}
