.artistButtons {
    display: flex;
    gap: 20px;
    text-align: center;
}

.artistButtonContainer {
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    vertical-align: middle;
    position: relative;
    margin: 15px;
}

    .artistButtonContainer > img {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

.artistButtonContainer>img:hover {
    filter: brightness(120%);
    transform: scale(1.1);
}

.artistButtonImage {
    border-radius: 20%;
}

.artistButtonText {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(51, 51, 51, 0.479);
    width: 213px;
    height: 213px;
    pointer-events: none;
    border-radius: 20%;
    text-align: center;
    vertical-align: middle;
    line-height: 213px;
    /*color: wheat;
    font-size: 130%;
    height: auto;
    width: auto;
    background-color: rgba(51, 51, 51, 0.479);
    border-radius: 20%;
    position: relative;
    pointer-events: none;
    bottom: 171px;
    left: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    align-content: center;*/
}