/* .question h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: wheat;
}

.question h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: wheat;
}

.question h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 180%;
    color: wheat;
} */