.tracksChoice {
    display: inline-block;
}

.trackButtons {
    display: inline-block;
    text-align: center;


}

.trackButtonContainer {
    display: inline-block;
    max-width: 160px;
    max-height: 160px;
    padding: 17px;
    vertical-align: middle;
}

.trackButtonContainer>img {
    height: 160px;
    width: 160px;
    object-fit: cover;

}

.trackButtonContainer>img:hover {
    filter: brightness(1.2);
    transform: scale(1.1);
}

.trackButtonImage {
    border-radius: 20%;
    filter: brightness(1);
}

.trackButtonImageDisabled {
    border-radius: 20%;
    filter: brightness(0.3);
}

.trackButtonText {
    color: wheat;
    font-size: 130%;
    height: 176px;
    width: 176px;
    background-color: rgba(51, 51, 51, 0.479);
    border-radius: 20%;
    position: relative;
    pointer-events: none;
    bottom: 171px;
    left: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    align-content: center;

}

.trackSelection > button{
	position:relative;
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 0.8rem;
	color: rgba(212, 225, 210, 1);
	cursor: pointer;
	transition: transform 0.3s ease;
	border-radius: 34px;
	opacity: 90%;
	background: linear-gradient(-15deg, rgb(0, 0, 0), rgba(107, 111, 114, 1));
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
	height: 4.2rem;
	width: 4.2rem;
	margin-top: 0.4rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.trackSelection > button:hover {
	color: white;
	filter:brightness(1.3);
	background-color: rgba(107, 111, 114, 1);
	-webkit-box-shadow: 10px 10px 99px 6px rgba(107, 111, 114, 1);
	-moz-box-shadow: 10px 10px 99px 6px rgba(107, 111, 114, 1);
	box-shadow: 10px 10px 99px 6px rgba(107, 111, 114, 1);
}
.Informations > Button{
	position:relative;
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 0.8rem;
	color: rgba(212, 225, 210, 1);
	cursor: pointer;
	transition: transform 0.3s ease;
	border-radius: 40px;
	opacity: 90%;
	background: linear-gradient(-15deg, rgb(0, 0, 0), rgba(107, 111, 114, 1));
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
	height: 5rem;
	width: 5rem;
	margin-top: 0.4rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.Informations > Button:hover {
	color: white;
	filter:brightness(1.3);
	background-color: rgba(107, 111, 114, 1);
	-webkit-box-shadow: 10px 10px 99px 6px rgba(107, 111, 114, 1);
	-moz-box-shadow: 10px 10px 99px 6px rgba(107, 111, 114, 1);
	box-shadow: 10px 10px 99px 6px rgba(107, 111, 114, 1);
}
