/* .tracksChoice>canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
} */

/* canvas#defaultCanvas0 {
    position: absolute;
    top: 0px;
    left: 0px;
} */

.tracksChoice {
    background: rgba(0,0,0,0.6);
    border-radius: 30px;
    padding: 20px;
    
}

.tracksChoice h1 {
    margin-bottom: 20px;
    color: white;
}

    .tracksChoice h2 {
        margin-bottom: 20px;
        color: white;
    }

    .tracksChoice h3 {
        margin-bottom: 20px;
        font-size: 180%;
        color: white;
    }