.quotations h1 {
    color: white;
}

.quotations h2 {
    color: white;
}

.quotations h3 {
    font-size: 180%;
    color: white;
}

.Contents > span{
	position: relative;
	transform: translate(-800%);
}

.entertainment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}