.Informations {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	/* transition: transform 0.3s ease; */
	border-radius: 5px;
	background: red;
	box-shadow: 0 4px 10px 0 rgba(49, 196, 190, 0.75);
	margin: 0rem;
	max-height: 80vh;
	overflow: auto;
}
div.Informations > p{
	/* float: right; */
	margin: 1rem;
	display: inline-flex;
}

div.Informations label {
	overflow: visible;
	cursor: pointer;
	float:left;
	/* height: 2rem; */
	margin: 0.5rem;
	left: 3rem;
	position: relative;
	display:inline-block;
	font-weight: 400;
	color:black;
	font-size: 1rem;
	text-align:left;
	opacity: 90%;
	width:12rem;
}
input{
	cursor: pointer;
	/* transition: width 2s, height 4s; */
}
input:hover{
	/* width: 120%; */
	/* height: 120%; */
}

/* scrollbar css*/
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(200,204,201,5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(200,204,201,1); 
}