.controlBar {
	background: rgba(231, 238, 195, 1);
	/* background: rgba(255, 244, 186, 1); */
	/* opacity: 0.7; */
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-bottom: 1rem;
	height: auto;
	/* height: 3rem; */
	/* transition: height 2s; */
	/* transition: height 1s ease; */
	/* -webkit-transition: height 1s ease; */
}

.iniBar {
	/* height:5rem; */
}

.picBar {
	/* height: 10rem; */
}

.controlBar>button {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
	cursor: pointer;
	transition: transform 0.3s ease;
	border-radius: 20px;
	opacity: 90%;
	background: linear-gradient(10deg, rgb(149, 228, 149), #55e7fc);
	box-shadow: 0 4px 10px 0 rgba(49, 196, 190, 0.75);
	height: 2rem;
	width: 7rem;
	margin-top: 0.4rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.cameraButtons>button {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
	cursor: pointer;
	transition: transform 0.3s ease;
	border-radius: 20px;
	opacity: 90%;
	background: linear-gradient(10deg, rgb(149, 228, 149), #55e7fc);
	box-shadow: 0 4px 10px 0 rgba(49, 196, 190, 0.75);
	height: 2rem;
	width: 7rem;
	margin-top: 0.4rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.controlBar>button:hover {
	transform: translateY(-3px);
	color: white;
	/* border: 0; */
	background-color: #b9e769;
	-webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
	-moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
	box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
}

.cameraButtons>button:hover {
	transform: translateY(-3px);
	color: white;
	/* border: 0; */
	background-color: #b9e769;
	-webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
	-moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
	box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
}

.notLoggedIn>button {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
	cursor: pointer;
	transition: transform 0.3s ease;
	border-radius: 20px;
	opacity: 90%;
	background: linear-gradient(10deg, rgb(149, 228, 149), #55e7fc);
	box-shadow: 0 4px 10px 0 rgba(49, 196, 190, 0.75);
	height: 2rem;
	width: 7rem;
	margin-top: 0.4rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.notLoggedIn>button:hover {
	transform: translateY(-3px);
	color: white;
	/* border: 0; */
	background-color: #b9e769;
	-webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
	-moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
	box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
}