/* .vignette{
    background: radial-gradient(#000000, #585858);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 75%;
} */

.logged-container {
    /*background: red;*/
    height: 100%;
}

.div-content {
    height: 100%;
    width: 100%;
    /*background: white;*/
}

.foreground {
    overflow: hidden;
    height: 10px;
}

.cover-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    top: 0;
}

.cover-container-internal0 {
    display: flex;
    object-fit: fill;
    position: relative;
    animation-name: even;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.5, 0.8, 0.5, 0.2);
}

@keyframes even {
    0% {
        left: -100px;
    }

    50% {
        left: 0px;
    }

    100% {
        left: -100px;
    }
}

.cover-container-internal1 {
    display: flex;
    flex-direction: row;
    object-fit: fill;
    position: relative;
    animation-name: odd;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.5, 0.8, 0.5, 0.2);
}

@keyframes odd {
    0% {
        left: 0px;
    }

    50% {
        left: -100px;
    }

    100% {
        left: 0px
    }

}

.cover-container img {
    height: 100px;
    width: auto;
    border-radius: 10px;

}

/*.Contents {
    position: absolute;*/
    /* rgba(0,0,0,0.7); */
    /* background-color:rgba(230, 218, 196, 0.8); */
    /*display: inline-block;
    height: auto;
    width: 100%;
    max-width: 61rem;
    position: relative;
    top: 15%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;*/
/*}*/

.uploadFileContainer {
    height: auto;
}

.InputContainer {
    height: auto;
}

.div-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}