.stepper{
	background: rgba(48,240,250,0.88);
	/* background: rgba(255, 244, 186, 1); */
	/* opacity: 0.7; */
	border-radius: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	height:2.5rem;
}
div.stepper > button{
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-size: 0.8rem;
	float: left;
	margin-top:0.15rem;
	margin-left:2.5rem;
	margin-right:0.52rem;
	width:4rem;
	height:2.25rem;
	border:none;
	border-radius:15px;
	border-left: 2px double lightgray;
	border-top: 2px double lightgray;
	border-right: 2px double gray;
	border-bottom: 2px double gray;
	/* background: rgba(255,255,255,1);*/
	background: linear-gradient(10deg, rgba(173, 189, 200, 1), rgba(255, 255, 255, 0.85));
}
div.stepper > button:hover{
	color:white;
}